<form role="form" method="POST">
    <div class="form-group fg-line">
      <label for="orgSurvey">Applicant Survey</label>
      <input type="hidden" name="orgSurvey" class="form-control input-sm" id="org-survey" value='{{org.survey}}'>
      <div class="build-wrap" id="build-wrap"></div>
    </div>

    <button type="submit" class="btn btn-primary btn-sm m-t-10 waves-effect btn-org-save">Save</button>
</form>
